<kendo-grid
  [data]="view | async"
  [pageSize]="state.take"
  [resizable]="true"
  [skip]="state.skip"
  [sortable]="true"
  [filter]="state.filter"
  [rowHeight]="35"
  [height]="440"
  filterable="menu"
  [selectable]="true"
  scrollable="virtual"
  [kendoGridSelectBy]="'REQUEST_ID'"
  [selectedKeys]="selectedGridData"
  (dataStateChange)="dataStateChange($event)"
  (edit)="editHandler($event)" (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  >
  <ng-template kendoGridToolbarTemplate>
    <button mat-stroked-button color="primary" kendoGridAddCommand>
      <mat-icon>add</mat-icon>Add new
    </button>
  </ng-template>
  <kendo-grid-checkbox-column showSelectAll="true" width="60" [locked]="true"></kendo-grid-checkbox-column>
  <kendo-grid-command-column title="command" width="220" [locked]="true">
    <ng-template kendoGridCellTemplate>
        <button class="minimize_padding" kendoGridEditCommand>
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button class="minimize_padding" kendoGridRemoveCommand>
          <mat-icon color="warn">delete</mat-icon>
        </button>
    </ng-template>
  </kendo-grid-command-column>
  <kendo-grid-column field="ESTIMATE_ID" title="Estimate Id" width="150"></kendo-grid-column>
  <kendo-grid-column field="ESTIMATE_DESCRIPTION" title="Estimate Desc" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="REQUEST_DESC" title="Request Desc" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="REQUEST_START_DATE" title="Start" filter="date" width="150"
    format="{0:d}"></kendo-grid-column>
  <kendo-grid-column field="REQUEST_END_DATE" title="End"  filter="date" width="150"
    format="{0:d}"></kendo-grid-column>
  <kendo-grid-column field="BUYER_NAME" title="Buyer" width="150" ></kendo-grid-column>
  <kendo-grid-column field="Packages" title="Packages" width="150"></kendo-grid-column>
  <kendo-grid-column field="POST_ON_SCHEDULE" title="Post On Schedule" width="200">
  </kendo-grid-column>
  <kendo-grid-column field="Demos" title="Demos"  width="300">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="dataItem.Demos">
          <div *ngFor="let item of dataItem.Demos" >
            <span class="each_demo">{{item}}</span>
          </div>
        </div>
      </ng-template>
  </kendo-grid-column>

</kendo-grid>
<app-edit-grid-item
  [model]="editDataItem" [isNew]="isNew"
  (save)="saveHandler($event)" (cancel)="cancelHandler()">
</app-edit-grid-item>


