.kendo_dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  > div {
    margin: 2px 6px;
    flex: 1;
  }
  > div:nth-child(3) {
    flex: 2;
  }
  div.input-group {
    display: flex;
    align-items: center;
    >label {
      margin-right: 10px;
    }
    &:nth-child(2) {
      flex: 1;
    }
  }
}
