.toolbar-filler {
  flex: 1 1 auto;
}

mat-sidenav-container {


  mat-toolbar {
    .logo-title {
      .logo-link {
        display: flex;
        align-items: center;
        margin-left: 20px;

      }
    }
    .app_title {
      margin-left: 20px;
      font-size: 1.1em;
      font-family: 'Abril Fatface', cursive!important;
    }
    .right_navigation {
      > button {
        margin-left: 15px;
      }
    }
  }

  .main__content {
    margin: 8px 20px;
  }
}
