<ng-http-loader
    [backgroundColor]="'#3f51b5'"
    [spinner]="spinkit.skWave"
    [debounceDelay]="100"
    [minDuration]="300"
    [extraDuration]="300"
    [filteredUrlPatterns]="['GetRequests']"
    >
</ng-http-loader>

<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">
    <mat-toolbar color="primary">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="mat-icon-button sidenav-toggle-button"
        [hidden]="!sidenav.opened"
      >
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        class="sidenav-link"
        routerLink="Dashboard"
        (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <span class="title" mat-line>Dashboard</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" color="primary">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      class="mat-icon-button sidenav-toggle-button"
      [hidden]="sidenav.opened"
    >
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <div class="logo-title">
      <a class="logo-link" routerLink="Report">
        <img
          style="width: 80px;"
          src="../assets/images/hm_logo.png"
          alt="Horizon Media"
        />
      </a>
    </div>
    <div class="app_title">
      <span>NgUiSeed</span>
    </div>
    <span class="toolbar-filler"></span>
    <div class="right_navigation">
      <button mat-icon-button class="mat-icon-button" [matMenuTriggerFor]="appNotifications">
        <mat-icon aria-label="notification_important" class="material-icons"
          matBadge="15" matBadgeColor="warn">notification_important
        </mat-icon>
      </button>
      <button mat-icon-button class="mat-icon-button">
        <mat-icon aria-label="account_circle" class="material-icons"
          >account_circle</mat-icon
        >
      </button>
      <!-- <button id="button-logout" mat-button>Log Out</button> -->
    </div>
  </mat-toolbar>
  <mat-menu #appNotifications="matMenu">
    <h6
      class="text-center"
      style="background: #ddd; padding: 8px; margin-top: 0;"
    >
      <strong>Notifications</strong>
    </h6>
    <button mat-menu-item>
      <mat-icon>add_alert</mat-icon>
      <span>Call from sislam</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>add_alert</mat-icon>
      <span>Call from sbanik</span>
    </button>
    <button mat-menu-item>
      <mat-icon>add_alert</mat-icon>
      <span>Call from bmatthew</span>
    </button>
  </mat-menu>
  <div class="main__content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

