<div class="row">
  <div class="col-xs-12">
    <div class="page__title">
      <mat-icon mat-list-icon>list_alt</mat-icon>
      <span class="title">Dashboard</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card_cstm">
      <div class="card_header_top">
        <div class="card_title">CallBack Notifications</div>
        <div class="card_top_control">Placeholder for functionality</div>
      </div>

      <mat-card>
        <button mat-stroked-button color="primary" (click)="successCallback()">
          <mat-icon>check_circle_outline</mat-icon>Success Callback
        </button>
        <button mat-stroked-button color="accent" (click)="errorCallback()">
          <mat-icon>highlight_off</mat-icon>Error Callback
        </button>
        <button mat-stroked-button (click)="notificationCallback()">
          <mat-icon>notification_important</mat-icon>General Notification Callback
        </button>
      </mat-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card_cstm">
      <div class="card_header_top">
        <div class="card_title">Data Grid</div>
        <div class="card_top_control">Placeholder for functionality</div>
      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Kendo Grid
            </mat-panel-title>
            <mat-panel-description>
              Filter, Sort, Selection, virtual Scroll
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="body_wrapper">

            <kendo-grid
              [kendoGridGroupBinding]="postData"
              [pageSize]="state.take"
              [resizable]="true"
              [skip]="state.skip"
              [sortable]="true"
              [filter]="state.filter"
              [rowHeight]="35"
              [height]="440"
              filterable="menu"
              [selectable]="true"
              scrollable="virtual"
              [kendoGridSelectBy]="'REQUEST_ID'"
              [selectedKeys]="selectedPosts"
              (dataStateChange)="dataStateChange($event)">
              <kendo-grid-checkbox-column showSelectAll="true" width="60"></kendo-grid-checkbox-column>
              <kendo-grid-column field="ESTIMATE_ID" title="Estimate Id" width="150"></kendo-grid-column>
              <kendo-grid-column field="ESTIMATE_DESCRIPTION" title="Estimate Desc" width="250">
              </kendo-grid-column>
              <kendo-grid-column field="REQUEST_DESC" title="Request Desc" width="250">
              </kendo-grid-column>
              <kendo-grid-column field="REQUEST_START_DATE" title="Start" filter="date" width="150"
                format="{0:d}"></kendo-grid-column>
              <kendo-grid-column field="REQUEST_END_DATE" title="End"  filter="date" width="150"
                format="{0:d}"></kendo-grid-column>
              <kendo-grid-column field="BUYER_NAME" title="Buyer" width="150" ></kendo-grid-column>
              <kendo-grid-column field="Packages" title="Packages" width="150"></kendo-grid-column>
              <kendo-grid-column field="POST_ON_SCHEDULE" title="Post On Schedule" width="200">
              </kendo-grid-column>
              <kendo-grid-column field="Demos" title="Demos"  width="300">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div *ngIf="dataItem.Demos">
                      <div *ngFor="let item of dataItem.Demos" >
                        <span class="each_demo">{{item}}</span>
                      </div>
                    </div>
                  </ng-template>
              </kendo-grid-column>
            </kendo-grid>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
