<div class="row">
  <div class="col-xs-12">
    <div class="page__title">
      <mat-icon mat-list-icon>list_alt</mat-icon>
      <span class="title">Dashboard</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card_cstm">
      <div class="card_header_top">
        <div class="card_title">CallBack Notifications</div>
        <div class="card_top_control">Placeholder for functionality</div>
      </div>

      <mat-card>
        <button mat-stroked-button color="primary" (click)="successCallback()">Success Callback</button>
        <button mat-stroked-button color="accent" (click)="errorCallback()">Error Callback</button>
        <button mat-stroked-button (click)="notificationCallback()">General Notification Callback</button>
      </mat-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card_cstm">
      <div class="card_header_top">
        <div class="card_title">Data Grid</div>
        <div class="card_top_control">Placeholder for functionality</div>
      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Kendo Grid
            </mat-panel-title>
            <mat-panel-description>
              Filter, Sort, Selection
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-body_wrapper">

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
