/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Roboto', sans-serif;
}

// Common style for all pages
.page__title {
  display: inline-flex;
  font-size: 17px;
  align-items: center;
  font-weight: 700;
  color: #3f51b5;
  margin-bottom: 10px;
}

.card_cstm {
  background: #EBEBEB;
  padding: 1em;
  border-radius: 15px;
  margin: 5px 0px;
  .card_header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px;
    .card_title {
      color: #828282;
      font-weight: bold;
    }
    .card_top_control {
      color: #828282;
    }
  }

}

.alert_cstm {
    background: #ff4081;
    color: #fff;
    padding: .5em 1em;
    font-weight: 700;
    font-style: italic;
    border-radius: 8px;
    text-align: center;
}

.mat-snack-bar-container {
  max-width: 800px!important;
}

button {
  margin: 2px 5px!important;
  span {
    font-size: 13px!important;
  }
}
mat-accordion {
  mat-expansion-panel {
    mat-expansion-panel-header {
      height: 40px!important;
      mat-panel-title {
        color: #3f51b5!important;
        font-size: 14px!important;
      }
      mat-panel-description {
        font-size: 13px!important;
        font-style: italic!important;
        font-weight: normal!important;
      }
    }
    .mat-body_wrapper {
      margin: 8px 10px;
    }
  }
}

