/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Roboto', sans-serif;
}

// Common style for all pages
.page__title {
  display: inline-flex;
  font-size: 17px;
  align-items: center;
  font-weight: 700;
  color: #3f51b5;
  margin-bottom: 10px;
}

.card_cstm {
  background: #EBEBEB;
  padding: 1em;
  border-radius: 15px;
  margin: 5px 0px;
  .card_title {
    color: #828282;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0!important;
  }
}

.alert_cstm {
    background: #ff4081;
    color: #fff;
    padding: .5em 1em;
    font-weight: 700;
    font-style: italic;
    border-radius: 8px;
    text-align: center;
}

.mat-snack-bar-container {
  max-width: 800px!important;
}

button {
  margin: 2px 5px!important;
  span {
    font-size: 13px!important;
  }
}
